﻿@{
    ViewBag.Title = "Home Page";

}

@functions
{
    public bool IsDebug()
    {
#if DEBUG
return true;
#else
        return false;
#endif
    }

    public string GetProductionScriptName()
    {
        var directory = Server.MapPath("~/Scripts/dist");
        var files = Directory.GetFiles(directory,"main*bundle.js", SearchOption.TopDirectoryOnly);
        return Path.GetFileName(files.First());
    }
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <div id="root"></div>
    </div>
</div>



@section scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>


    @if (IsDebug())
    {
        <script src="~/Scripts/dist/main.dev.bundle.js"></script>
        <script async src='http://localhost:3001/browser-sync/browser-sync-client.js?v=2.27.7'></script>
        @*<script id="__bs_script__">
            //<![CDATA[
            document.write("<script async src='http://HOST:3001/browser-sync/browser-sync-client.js?v=2.27.7'><\/script>".replace("HOST", location.hostname));
            //]]></script>*@
    }
    else
    { 
        <script src="~/Scripts/dist/@GetProductionScriptName()"></script>
    }

}
